<div class="main-container">
  <mat-card class="card">
    <form [formGroup]="form" (ngSubmit)="getDataForm()">
      <mat-card-title class="mb-4">Compra</mat-card-title>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <!-- Área -->
          <mat-form-field appearance="fill">
            <mat-label>Área</mat-label>
            <mat-select formControlName="department">
              <mat-option *ngFor="let departamento of arrDepartamentos" [value]="departamento">
                {{departamento}}
              </mat-option>
            </mat-select>
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('department', 'required')">El campo es
              obligatorio</small>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-sm-12">
          <!-- Código del proyecto -->
          <mat-form-field appearance="fill">
            <mat-label>Código del proyecto asociado</mat-label>
            <input matInput formControlName="project_code" type="text">
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('project_code', 'required')">El campo es
              obligatorio</small>
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('project_code', 'maxlength')">El campo no puede
              tener
              más de 45 caracteres</small>
          </mat-form-field>
        </div>

        <div class="col-12">
          <!-- Motivo de la compra -->
          <mat-form-field appearance="fill">
            <mat-label>Motivo de la compra</mat-label>
            <textarea matInput formControlName="reason"></textarea>
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('reason', 'required')">El campo es
              obligatorio</small>
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('reason', 'maxlength')">El campo no puede tener más
              de
              400 caracteres</small>
          </mat-form-field>
        </div>

        <div class="col-lg-6 col-sm-12">
          <!-- Fecha de la compra -->
          <mat-form-field appearance="fill">
            <mat-label>Fecha de la compra</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date_expense">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('date_expense', 'required')">El campo es
              obligatorio</small>
            <br>
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('date_expense', 'dateValidator')">{{
              form.get('date_expense')?.errors?.['dateValidator'] }}</small>
          </mat-form-field>

        </div>


        <div class="col-lg-6 col-sm-12">
          <!-- Proveedor -->
          <mat-form-field appearance="fill">
            <mat-label>Proveedor</mat-label>
            <input matInput formControlName="provider" type="text">
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('provider', 'required')">El campo es
              obligatorio</small>
          </mat-form-field>
        </div>

        <!-- Producto o enlace al producto -->
        <mat-form-field appearance="fill">
          <mat-label>Producto o enlace al producto</mat-label>
          <input matInput formControlName="product_link" type="text">
          <small class="p-1 my-1 text-danger" *ngIf="checkControl('product_link', 'required')">El campo es
            obligatorio</small>
        </mat-form-field>


        <!-- Cantidad -->
        <div class="col-lg-6 col-sm-12">
          <mat-form-field appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input matInput formControlName="units" type="number">
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('units', 'required')">El campo es
              obligatorio</small>
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('units', 'min')">El importe no puede ser un número
              negativo</small>
          </mat-form-field>
        </div>

        <!-- Importe -->
        <div class="col-lg-6 col-sm-12">
          <mat-form-field appearance="fill">
            <mat-label>Importe (puede ser aproximado)</mat-label>
            <input matInput formControlName="amount" type="number">
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('amount', 'required')">El campo es
              obligatorio</small>
            <small class="p-1 my-1 text-danger" *ngIf="checkControl('amount', 'min')">El importe no puede ser un número
              negativo</small>
          </mat-form-field>
        </div>
      </div>

      <!-- Botón enviar -->
      <mat-card-actions>
        <button mat-raised-button type="submit" *ngIf="isNewForm" [disabled]="!form.valid">ENVIAR</button>
      </mat-card-actions>
      <mat-card-actions>
        <button mat-raised-button *ngIf="!isNewForm" [disabled]="!form.valid" [routerLink]="['/empleado']" (click)="editarGasto() ">ACTUALIZAR GASTO</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>