.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-size: 1.14em;
}

.card {
  width: 70%;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.125rem;
  margin-top: 3.125rem;
  border-radius: solid 1%;
}

form {
  width: 100%;
}

mat-form-field {
  display: block;
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

mat-card {
  background-color: #020726;
}

button {
  background-color: #dadd02;
  color: #020726;
  font-size: 1.14em;
}

mat-datepicker-toggle {
  color: #dadd02;
}

mat-calendar-body-selected {
  background-color: #dadd02;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
    padding: 1rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
    border-radius: solid 1%;
  }
}